<div class="card">
    <img [src]="character?.photo"
         class="card-img-top" 
         [alt]="character?.url"
        onerror="this.src= '/assets/img/default.webp'"     
    >
    <div class="card-body">
        <h5 class="card-title">{{character?.name}} ( Episodios: {{ character?.total_episodes }} )</h5>
        <p class="card-text truncate">
            {{character?.description}}
        </p>

        <a class="btn btn-primary" [routerLink]="['/details',character?.id]" >Ver más detalles</a>
    </div>
</div>